{% extends 'template.html' %}
{% block content %}

            <!-- Gestion Lovgest Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4" style="width: 40%;margin: auto;">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0" style="margin: auto;margin-right: 35px">Ajouter</h6>
                        <a href="/lovgest">
                        <input type="submit" value="Afficher tout" class="btn btn-primary" style="width: 150px;"></a>
                    </div>
                    <div class="bg-secondary rounded">
                        <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Ajouter" class="btn btn-primary">
 </form>
                    </div>
                </div>
            </div>
            <!-- Gestion Lovgest End -->
{% endblock %}